@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Pokemon University</h1>
    <img src="~/images/pexels-vincent-ma-janssen-1310847.jpg" width=1250/>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>World Class Intructors</h2>
        <p>
            It's time to level up and become the greatest Pokemon trainer. Our team of world class Pokemon experts are unmatched. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>State of Art Gyms</h2>
        <p>Train your pokemon team with some of the best gyms in the world. </p>
    </div>
    <div class="col-md-4">
        <h2>Cutting-Edge Medicine</h2>
        <p>Training is more than skin deep. Be prepared for all situations with our diverse medical department.</p>
    </div>
</div>
