@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Pokémon respects your privacy rights and recognizes the importance of protecting your personal information (or “personal data”). Our Privacy Notice describes the kinds of personal information we collect, why we collect it, how we share it, and choices we give you.</p>

